#stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 32px;

    h1 {
        font-size: 36px;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        height: 100%;
        width: 300px;
        box-shadow: inset 0 0 0 1px var(--gray);
        border-radius: 6px;
        padding: 16px;
        transition: 150ms;

        &:hover {
            background-color: rgb(197, 218, 255, 0.2);
        }

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 13px;

            span {
                color: var(--primary);
                font-weight: 500;
            }
        }

        .value {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 36px;
            font-weight: 600;
            color: var(--primary);
        }

        .progress-bar {
            width: 100%;
            height: 12px;
            outline: 1px solid #1c1c1c23;

            .progress {
                height: 12px;
                border: 1px solid var(--primary);
                background: linear-gradient(to left, var(--primary) 0%, var(--secondary) 100%);
            }
        }
    }
}
