.user-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;

    .not-found {
        color: var(--ddgray);
        font-family: "Poppins", sans-serif;
    }
}
